@import url('https://fonts.googleapis.com/css?family=Oxygen|Raleway&display=swap');
@font-face {
  src: url('https://fonts.googleapis.com/css?family=Oxygen|Raleway&display=swap');
  /* TITle */
  font-family: 'Oxygen', sans-serif;
  /* Text */
  font-family: 'Raleway', sans-serif;
}

.link {
  text-decoration: none;
  color: black;
}

.nav {
  display: flex;
  justify-content: space-between;
  // border: 1px white solid;
  width: 50%;

  &:ul li {
    list-style-type: none;
    // color: red

  }
}
.nav-links {
  text-decoration: none;
  color: white;
}

